<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossphd.mytasks"
    xmlns:app="http://schemas.android.com/apk/res-auto">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo_android_gray55px"
        android:supportsRtl="true"
        app:contentInsetStart="100dp"
        android:theme="@style/AppTheme">
        <activity android:name=".TasksActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AddTaskActivity -->
        <activity
            android:name="com.crossphd.mytasks.AddTaskActivity"
            android:label="@string/add_task_activity_name" />

        <!-- Register the TaskContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name="com.crossphd.mytasks.TaskContentProvider"
            android:authorities="com.crossphd.mytasks"
            android:exported="false"/>
    </application>

</manifest>